.env/
__pycache__/
old/
notebooks/
cylinder/
channel/
.DS_Store
*.pdf
*.png
*.out
*.mat
*.txt
*.mp4
*.nc
*_convergence.sh
make_dnd_sst.py
get-image-network.py
plot/plot_panel01.py
plot/plot_panel02.py
plot/plot_panel03.py
plot/plot_panel04.py
plot/plot_panel05.py
plot/plot_panel06.py
plot/plot_panel07.py
plot/plot_panel08.py
plot/plot_panel09.py
plot/plot_panel10.py
plot/plot_panel11.py
plot/plot_panel12.py
plot/plot_panel14.py
plot/plot_panel15.py
plot/plot_panel18.py
plot/sketch.py
